*{
  box-sizing: border-box;
}
body{
  
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: aquamarine;
  text-align: right;
  

}
.header{
  justify-content: left;
  font-size: 20px;
}
.container{
  justify-content: right;
  align-items: right;
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 10px 20px 25px rgba(0,0,0,3);
  overflow:hidden; 
  max-width: 100%;
  width: 500px;
  transform: translate();
 
}
.title{
  font-size: 30px;
  text-align:left;
  padding:20px;

  
  transform: translate(15%,100%);
  position: fixed;
  color: black;
}

.header{
  border-bottom: 1px solid #f0f0f0;
  background-color: #f7f7f7;
  padding: 30px 40px;
  justify-content: center;
}
.header h2{
  margin: 0;
  text-align: center;
}
.form{
  padding: 30px 40px;
}
.form-control{
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}
.form-control label{
  display: inline-block;
  margin-bottom: 5px;
}
.form-control input{
  border: 2px solid #f0f0f0;
  border-radius: 4px;
 font-size: 14px;
 padding: 10px;
 width: max-content;
}
.form-control input:focus{
  outline: none;
  border-color: #777;
}

.form button{
  background-color: hsl(187, 23%, 60%);
  border:2px solid #777;
  color: #fff;
  display: black;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
  padding:10px;
  border-radius: 4px;
}
.image img{
  top:5%;
  left:5%;
  position:absolute;
  max-width: 50px;
  max-height: 50px;
  
}